div.search-input {
  margin-right: 10px;
  margin-left: 10%;
}

.search-input input {
  color: white;
}

ul.search-results {
  width: 50%;
  margin-left: 10%;
  margin-top: 10px;
  position: absolute;
  background: rgba(255,255,255, 0.9);
}

ul.search-results:hover .MuiButtonBase-root-137:hover{
  border: 1px solid #000;
  background-color: #fff;
}

.result .add-button {
  opacity: 0;
  transition: opacity 2ms;
}

.result:hover .add-button {
  opacity:1;
  transition: opacity 2ms;
}
.artist-container {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.image-container {
  width: 220px;
  display: flex;
  align-items: center;
}

.image-container img {
  height: 220px;
}

.artist-card {
  max-width: 300px;
  width: 220px;
  min-height: 320px;
  margin: 10px;
  border-radius: 5px;
} 

h6{
  padding-left: 8px;
}

.MuiAppBar-colorPrimary-8 {
  background-color: #292929 !important;
}

.MuiButton-contained-122.MuiButton-disabled-131 {
  color: rgba(255, 255, 255, 0.26) !important;
}

.MuiButton-containedSecondary-124 {
  background-color: #444444 !important;
}

.MuiInput-underline-85:after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.26) !important;
}

.MuiInput-underline-85:before {
  border-bottom: 1px solid rgba(114, 114, 114, 0.42) !important;
}

.MuiTypography-colorInherit-70 {
  color: #838383 !important;
}