.search-bar h6 {
  
}

div.search-input {
  margin-right: 10px;
  margin-left: 10%;
  
}

.search-input input {
  color: white;
}

ul.search-results {
  width: 50%;
  margin-left: 10%;
  margin-top: 10px;
  position: absolute;
  background: rgba(255,255,255, 0.9);
}

ul.search-results:hover .MuiButtonBase-root-137:hover{
  border: 1px solid #000;
  background-color: #fff;
}

.result .add-button {
  opacity: 0;
  transition: opacity 2ms;
  
}

.result:hover .add-button {
  opacity:1;
  transition: opacity 2ms;
  
}
.artist-container {
  display: flex;
  padding: 20px;
}

.image-container {
  width: 240px;
  display: flex;
  align-items: center;
}

.image-container img {
  max-height: 174px;
  margin-left: 17px;
  margin-top: 17px;
  margin-right: 17px;
}

.artist-card {
  max-width: 300px;
  width: 240px;
  min-height: 320px;
  margin: 10px;
} 
